<div id="experience-container" class="display-none">
  <div class='experience-title'>
    Software Developer @ <span class='link'>Teachers Cirriculum Institute</span>
  </div>
  <div class='experience-sidetitle'>
    July <span class='emphasis'>2018</span> to October <span class='emphasis'>2018</span> | Mountain View, <span class='emphasis'>CA</span> <i class="fa fa-github" aria-hidden="true"></i>
  </div>
  <div class='clear'></div>
  <br />
  <div class='experience-content'>
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec molestie metus et nisl convallis tempus. Maecenas quis dui quis sapien molestie maximus. Sed quis placerat quam. Morbi eleifend nunc turpis, blandit imperdiet ligula egestas nec. Donec non gravida erat. Integer magna mauris, tincidunt sed interdum in, cursus ut turpis. Donec accumsan, arcu et commodo sollicitudin, justo massa imperdiet velit, at volutpat elit tellus in lorem. Cras tincidunt ipsum at viverra cursus. Aliquam ut ullamcorper libero, ut consectetur nulla. Maecenas sed lorem massa.
  </div>
</div>
