<footer>
  <div class="wave-banner-top"></div>
  <div class="footer-content">
    <br>
    <button id="footer-clipboard-btn"
       class="hvr-icon-up clipboard-elem"
       title="Copy my email to your clipboard!"
       data-clipboard-text="mbsampson89@gmail.com">
      Add me to your team <i class="fa fa-envelope-o hvr-icon" aria-hidden="true"></i>
    </button>
  </div>
</footer>
