<footer>
  <div class="wave-banner-top"></div>
  <div class="footer-content">
    <br>
    <button id="footer-clipboard-btn"
       class="hvr-icon-up clipboard-elem"
       title="Email copied to clipboard!"
       data-clipboard-text="mbsampson89@gmail.com">
      Email me <i class="far fa-envelope hvr-icon"></i>
    </button>
  </div>
</footer>
