<footer>
  <div class="wave-banner-top"></div>
  <div class="footer-content">
    <br>
    <p>HTML5 | CSS/SCSS | JavaScript | Ruby on Rails</p>
  </div>
  <div class="wave-banner-bottom"></div>
</footer>
