<footer>
  <div class="wave-banner-top"></div>
  <div class="footer-content">
    <br>
    <a class="hvr-icon-up">
      Add me to your team <i class="fa fa-envelope-o hvr-icon" aria-hidden="true"></i></i>
    </a>
  </div>
</footer>
