<span id="home-title-text">
  <a href="" class="typewrite" data-period="2000" data-type='[ "Front End Web Developer", "Web Designer", "Proud Starbucks Partner" ]'>
    <span class="wrap"></span>
  </a>
</span>
