<span id="home-typewriter">
  <a href="" class="typewrite" data-period="2000" data-type='[ "Front End Web Developer", "Former Starbucks Partner", "Avid Rock Climber" ]'>
    <span class="wrap"></span>
  </a>
</span>
