<div class="container-fluid about-container vertical-center">
  <div class="about-content">
    <h1>About</h1>
    <p>Hi, my name is Matthew. I'm a Ruby on Rails developer who thrives on learning, overcoming challenging problems, and climbing fake rocks.</p>
  </div>
</div>
