<div class="container-fluid home-container vertical-center">
  <div class="main-header-container">
    <%= render 'shared/typewriter' %>
    <hr>
    <p id="home-subtitle-text">HTML, CSS, JavaScript, Ruby on Rails</p>
  </div>
</div>
