// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** HOME PAGE ***/

.home-container{
  margin: auto;
  width: 70%;
  text-align: center;
  font-weight: bold;


  a.typewrite{
    cursor: default;
    text-decoration: none;
    text-align: center;
  }

  #home-typewriter{
    font-size: 3.0em;
  }

  hr{
    background-color: white;
    box-shadow: 0px 2px 0.5px black;
    width: 60%;
    margin: 0 auto 10px;
  }
}

.vertical-center {
  height: 100%;  /* Fallback for browsers do NOT support vh unit */
  height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/*** ABOUT ***/

.about-container{

  .about-content{
    margin: auto;
    width: 60%;
  }
}

/*** PROJECTS ***/




/*** MOBILE ***/
@media only screen and (max-width: 1036px) {
  a.typewrite{
    font-size: 20px;
  }
  #home-subtitle-text{
    font-size: 12.5px;
  }

  .home-container{
    width: 90%;
  }
}
